*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
wwwroot/Markdown/Bonce
wwwroot/Markdown/Bybbl
wwwroot/Markdown/Dawg
wwwroot/Markdown/Harri
wwwroot/Markdown/Pages
wwwroot/Markdown/Projects

publish/

wwwroot/Bear

wwwroot/Bonce

wwwroot/Bybbl

wwwroot/Dawg

wwwroot/Docs

wwwroot/Projects
