@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <h1 class="display-4">We salute you!</h1>
    <p>No idea how you got here, but welcome anyway :)</p>
    <p>Very much a work in progress (more than normal), this is a site to hold a bunch of stuff for a bunch of reasons.</p>
</div>
