@model Headstrong.Models.MarkdownHierachyViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Indexes of Projects</h1>

@foreach(var markdownPage in Model.MarkdownPages)
{
    if(markdownPage.Name.Contains(".md"))
    {
        <div><a href="@markdownPage.Name.Replace(".md","")">@markdownPage.Name.Replace(".md","")</a></div>
    }
}