@model Headstrong.Models.MarkdownHierachyViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Indexes of pages</h1>

@foreach(var markdownPage in Model.MarkdownPages)
{
    <div><a href="@markdownPage.Name.Replace(".md","")">@markdownPage.Name.Replace(".md","")</a></div>
}